<!DOCTYPE html>
{% block head %}
<head>
	<title>Catalog</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
{% endblock %}
<body>
	<div class="title-banner">
		<div class="title-content">
			<a href="{{ url_for('Index') }}"><h1 class="title-text"> Catalog App </h1></a>
			{% if not login_session['username'] %}
			<form action="{{ url_for('Login') }}">
				<button class="login btn"> login </button>
			</form>
			{% else %}
			<form action="{{ url_for('gdisconnect') }}">
				<button class="login btn"> logout </button>
			</form>
			{% endif %}
		</div>
	</div>
	{% if login_session['username'] %}
		<div class="flash-messages">
			<img class="profile-pic" src="{{ login_session['picture'] }}">
			<h2> {{ login_session['username'] }}</h2>
		</div>
	{% endif %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="flash-messages">
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% endwith %}
	<div class="main-content">
		{% block main %}
		<div class="categories-ls">
			<div class="panel panel-default">
			<!-- Default panel contents -->
				<div class="panel-heading">
					<h3 class="panel-title">Categories</h3>
				</div>
			<!-- List group -->
				<ul class="list-group">
					{% for c in categories %}
						<li class="list-group-item"><a href="{{ url_for('CategoriesPage', categorie_id=c.id) }}"> {{ c.name }}</a></li>
					{% endfor %}
				</ul>
				<div class="panel-footer"><a href="{{ url_for('AllCategories') }}">More...</a></div>
			</div>
		</div>
		<div class="items-ls">
			<div class="panel panel-default	">
				<div class="panel-heading">
			    	<h3 class="panel-title">Recently added Items</h3>
			  	</div>
			  	<div class="panel-body">
			  		{% for i in items %}
			    	<div class="media">
  						<div class="media-left media-middle">
    						<a href="{{ url_for('Items', categorie_id = i.categorie_id, item_id = i.id) }}">
      							<img class="media-object main-page-img" src={{url_for('static', filename=i.img)}} alt="kitten">
    						</a>
  						</div>
  						<div class="media-body">
    						<a href="{{ url_for('Items', categorie_id = i.categorie_id, item_id = i.id) }}">
    							<h4 class="media-heading">{{ i.name }} <i> ({{ i.categorie.name }}) </i></h4>
    						</a>
  						</div>
					</div>
					{% endfor %}
			  	</div>
			  	<div class="panel-footer"><a href="{{ url_for('New') }}">Add a new Item...</a></div>
			</div>
		</div>
		{% endblock %}
	</div>
</body>