<!DOCTYPE html>
{% block head %}
<head>
	<title>Catalog</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="
	sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
{% endblock %}
<body>
	<div class="title-banner">
		<div class="title-content">
			<a href="{{ url_for('Index') }}"><h1 class="title-text">rankP</h1></a>
			<div class="input-group" style="width: 25%; margin-top: 10px;">
				  <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-search"></span></span>
				  <input type="text" class="form-control" placeholder="search..." aria-describedby="basic-addon1">
			</div>
			{% if not login_session['username'] %}
			<form action="{{ url_for('Login') }}">
				<button class="login btn"> login </button>
			</form>
			{% else %}
			<div class="dropdown">
					 <button class="btn login dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						    profile
						<span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						  	<li><a href="{{ url_for('EditProfile') }}">Edit Profile</a></li>
						    <li><a href="{{ url_for('gdisconnect') }}">Logout</a></li>
						    <li role="separator" class="divider"></li>
						    <li><a href="{{ url_for('New') }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Paper</a></li>
						  </ul>
				</div>
			{% endif %}
		</div>
	</div>
	{% if login_session['username'] %}
		<!-- Login panel
		<div class="flash-messages">
			<img class="profile-pic" src="{{ login_session['picture'] }}">
			<h2> {{ login_session['username'] }}</h2>
		</div> -->
	{% endif %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="flash-messages">
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% endwith %}
	<div class="main-content">
		{% block main %}
		<div class="items-ls-main">
			<div class="panel panel-default	">
				<div class="panel-heading panel-heading-btn">
			    	<h3 class="panel-title">Hot Papers</h3>
			    	<div class="panel-head-float">
			    		<div class="dropdown" style="margin-right: 5px;">
						  <button class="btn-text dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						    tags
						    <span class="caret"> </span>
						  </button>
						  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						  	{% for t in tags %}
						    <li><a href="https://img-9gag-fun.9cache.com/photo/a9AEKz6_460sv.mp4">{{ t.name }}</a></li>
						    {% endfor %}
						    <li role="separator" class="divider"></li>
						    <li><a href="https://img-9gag-fun.9cache.com/photo/a9AEKz6_460sv.mp4">See all</a></li>
						  </ul>
						</div>
						<span> | </span>
						<div class="dropdown" style="margin-left: 5px;">
						  <button class="btn-text dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						     categories
						    <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						    {% for c in categories %}
						    <li><a href="https://img-9gag-fun.9cache.com/photo/a9AEKz6_460sv.mp4">{{ c.name }}</a></li>
						    {% endfor %}
						    <li role="separator" class="divider"></li>
						    <li><a href="https://img-9gag-fun.9cache.com/photo/a9AEKz6_460sv.mp4">See all</a></li>
						  </ul>
						</div> 
			    	</div>
			    </div>
			  	</div>
			  	<div class="panel-body">
			  		{% for i in items %}
			    	<div class="media">
  						<div class="media-left media-middle">
    						<a href="{{ url_for('Items', categorie_id = i.categorie_id, item_id = i.id) }}">
    							{% if i.ptype == 'idea' %}
      							<img class="media-object main-page-img" src={{url_for('static', filename='idea.png')}}>
      							{% endif %}
      							{% if i.ptype == 'paper' %}
      							<img class="media-object main-page-img" src={{url_for('static', filename='article.png')}}>
      							{% endif %}
    						</a>
  						</div>
  						<div class="media-body">
    						<a href="{{ url_for('Items', categorie_id = i.categorie_id, item_id = i.id) }}">
    							<h4 class="media-heading">{{ i.name }} <i> ({{ i.categorie.name }}) </i></h4>
    						</a>
  						</div>
  						<hr>
					</div>
					{% endfor %}
			  	</div>
			</div>
		</div>
		{% endblock %}
	</div>
</body>