{% extends "base.html" %}

{% block main %}
	<div class="categories-ls">
		<div class="panel panel-default">
		<!-- Default panel contents -->
			<div class="panel-heading">
				<h3 class="panel-title">Statistics</h3>
			</div>
			<div class="panel-footer"><a href="#">More...</a></div>
		</div>
	</div>
	<div class="items-ls">
		<div class="panel panel-default	">
			<div class="panel-heading panel-heading-btn">
		    	<h3 class="panel-title">{{ item.name }}</h3>
		    	{% if login_session['email'] == item.user.email %}
                <div> <a href="{{ url_for('Edit', item_id = item.id) }}">edit </a>|<a href="{{ url_for('Delete', item_id = item.id) }}"> delete</a> </div>
                {% endif %}
		  	</div>
		  	<div class="panel-body">
				<div class="media-body">
    				<p><b>Author:</b> {{ item.author }}</p>
    				<p style="max-width: 80px;"><b>Link:</b> <a href="{{ item.link }}">{{ item.link }}</a></p>
    				<div><p>{{ item.description }}</p></div>
    				<p><b>Publication year:</b> {{ item.pub_year }}</p>
    				<p><b>Tags: </b>{% for t in tags %}<span class="badge" style="margin-left: 5px; margin-right: 5px;">{{ t.tag.name }}</span>{% endfor %}</p> <a href="{{ url_for('AddTag', item_id = item_id, categorie_id = categorie_id) }}"><button class="btn"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Tag</button></a>

  				</div>
				<div class="item-footer">
						<a href="{{ url_for('Up', categorie_id = categorie_id, item_id = item_id) }}"><button type="submit" class="btn" style="margin-right: 5px;"> upvote <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> </button></a>
					<h5> {{ upvotes }}</h5>
				</div>
		  	</div>

		</div>
		<div class="panel panel-default	">
			<div class="panel-heading panel-heading-btn">
		    	<h3 class="panel-title">Comments</h3>
		  	</div>
		  	<div class="panel-body">
				<div class="media-body">
					<form method="POST" action="{{ url_for('AddComment', categorie_id = categorie_id, item_id = item_id) }}">
						<div class="form-group">
							<label>Make a new comment</label>
							<input class="form-control" rows="3" name="content"></input>
						</div>
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
  				</div>
  				<hr>
  				<div>

				  <!-- Nav tabs -->
				  <ul class="nav nav-tabs" role="tablist">
				    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Academic</a></li>
				    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Enthusiastic</a></li>
				  </ul>

				  <!-- Tab panes -->
				  <div class="tab-content">
				    <div role="tabpanel" class="tab-pane active" id="home">
				    	<ul class="list-group">
				    		{% for c in comments %}
				    		{% if c.academic %}
				    		<li class="list-group-item">{{ c.content }}</li>
				    		{% endif %}
				    		{% endfor %}
				    	</ul>
				    </div>
				    <div role="tabpanel" class="tab-pane" id="profile">
				    	<ul class="list-group">
				    		{% for c in comments %}
				    		{% if not c.academic %}
				    		<li class="list-group-item">{{ c.content }}</li>
				    		{% endif %}
				    		{% endfor %}
				    	</ul>
				    </div>
				  </div>

				</div>
		  	</div>
		 </div>
	</div>

{% endblock %}