{% extends "base.html" %}

{% block head %}
<head>
	<title>Catalog</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//apis.google.com/js/platform.js?onload=start"> </script>
</head>
{% endblock %}

{% block main %}
	<div class="login-box">
		<div class="panel panel-default">
			<div class="panel-heading">
					<h3 class="panel-title"> SignUp </h3>
			</div>
			<div class="panel-body">
				<form method="POST">
					<div class="form-group">
						<label for="exampleInputEmail1">Email address</label>
						<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Username" name="username">
					</div>
					<div class="form-group">
						<label for="exampleInputEmail1">Email address</label>
						<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" name="email">
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Password</label>
						<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="pw">
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Check Password</label>
						<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="verify">
					</div>
					<button type="submit" class="btn btn-default">Submit</button>
				</form>
				<br>
				<div id="signInButton">
			        <span class="g-signin"
			            data-scope="openid email"
			            data-clientid="952631978652-mcp2l6mguui0nu0h7bu8fnrc1bqh3v8t.apps.googleusercontent.com"
			            data-redirecturi="postmessage"
			            data-accesstype="offline"
			            data-cookiepolicy="single_host_origin"
			            data-callback="signInCallback"
			            data-approvalprompt="force">
			        </span>
			        <div id="result"></div>
        		</div>
        		<script>
					function signInCallback(authResult) {
					  if (authResult['code']) {
					    // Hide the sign-in button now that the user is authorized
					    $('#signinButton').attr('style', 'display: none');
					    // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
					    $.ajax({
					      type: 'POST',
					      url: '/gconnect?state={{ state }}',
					      processData: false,
					      data: authResult['code'],
					      contentType: 'application/octet-stream; charset=utf-8',
					      success: function(result) {
					        // Handle or verify the server response if necessary.
					        if (result) {
					          $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
					         setTimeout(function() {
					          window.location.href = "/catalog";
					         }, 2000);
					          
					      } else if (authResult['error']) {
					    console.log('There was an error: ' + authResult['error']);
					  } else {
					        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
					         }
					      }
					      
					  }); } }
				</script>
			</div>
		</div>
	</div>
{% endblock %}